{% extends 'dashboard.html' %}

{% block alltests_active %}
    <a class="active" href='{% url "alltests" %}'>
{% endblock %}

{% block content %}

{% block js %}
  {{ block.super }}
  <script src="http://code.jquery.com/jquery-latest.js"></script>
  <script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
  <script>$.endlessPaginate();</script>
{% endblock %}

<div class="endless_page_template">

    <div class="row">
      <div class="col-sm-9 col-md-12 main">
        <h1 class="page-header">All Tests
            <form class="navbar-form pull-right" role="search" style="margin-top: 0px" action="/dashboard/alltests_search/">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" name="q">
          </div>
          <button type="submit" class="fa fa-search" style="font-size: x-large;background-color: white;border: 0px;vertical-align: middle"></button>
        </form>
        </h1>
            
            {% block search %}
            {% load endless %}
            {% paginate filelist %}
            {% for file in filelist %}
                {% for filename in filenamelist %}
                    {% if forloop.counter == forloop.parentloop.counter %}
                        <div class="bs-callout bs-callout-danger" id="callout-btndropdown-dependency">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" class="collapsed">
                                <div class="row alltestinfo" style="position: relative">
                                    <div class="col-sm-9">
                                      <h4>{{ filename }}</h4>
                                    </div>
                                    <div class="col-sm-1">
                                        <a class="runtest" href="/dashboard/run_test/?filename={{ filename }}" onclick="return confirm('Are you sure you want to run this test?');">
                                            <i class="fa fa-play" style="color: #5cb85c;"></i>&nbsp; run
                                    </div>
                                    <div class="col-sm-1">
                                      <i class="fa fa-stop"></i>&nbsp; stop
                                    </div>
                                    <div class="col-sm-1">
                                      <label class="trash">
                                        <a class="delete" href="/dashboard/delete_file/?filename={{ filename }}" onclick="return confirm('Are you sure you want to delete this file?');">
                                          <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                      </label>
                                    </div>
                                </div>
                            </a>
                            
                            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <pre>
                                        {{ file }}
                                    </pre>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% show_more "Show More" "Loding" %}
        {% endblock %}
      </div>
    </div>
    
</div>
{% endblock %}