{% extends 'base.html' %}

{% block content %}
    <div class="sign-container">
      <form class="form-signedup">
        <h2 class="form-signedup-heading">Invalid Sign In</h2>
        <p>The username and password that you supplied are invalid.</br>
        Please return to the sign in page.</br>
        And re-enter a valid username and password
        <a class="btn btn-warning btn-lg" href='{% url "signin" %}' role="button">Sign In to MONITT</a></p>
        <p></br>If you are unable to sign in, please contact <a href="#">MONITT admin</a>.</p>
      </form>
    </div>
{% endblock %}