.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  color: #2e2e2e;
}

.form-signedup {
  text-align: center;
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  color: #2e2e2e;
}

.form-signedup-heading {
  margin-top: 100px;
  color: #e51937;
  margin-bottom: 20px;
}

.form-signedup > p > a {
  margin-top: 30px;
}

.form-signedup > p > .btn:hover {
  color: white !important;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  border-color: #e51938;
  box-shadow: 0 0 5px #e51937;
  z-index: 2;
}

.form-signin input {
  margin-bottom: 10px;
}

.form-signin button {
  margin-top: 20px;
}

